# Dependencies
node_modules
.pnpm-store

# Vercel
.vercel

# Build outputs
dist
build
.output
.next
.expo
.turbo

# Environment variables
.env
.env.local
*.local
supabase/functions/.env
supabase/.temp
docker/runtime/

# Test output
test-results
playwright-report

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS Files
.DS_Store
Thumbs.db
